/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
} */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ticker {
  font-size: 12vmin;
  text-align: center;
}

.price {
  font-size: 16vmin;
  text-align: center;
}

.price-time {
  font-size: 8vmin;
  text-align: center;
}

.up {
  color: #34a853;
}

.down {
  color: #d93025;
}

.warning {
  font-size: 2vmin;
  color: red;
  text-align: center;
}
